{% extends "layout.html" %} {% block content %}

<div class="row">
  <div class="col m12 s12 hide-on-large-only">
    <h3> Craig Parsons </h3>
  </div>
  <div class="col m12 s12 hide-on-large-only">
    <h4> Web Application Developer </h4>
  </div>
  <div class="col l12 hide-on-med-and-down">
    <br />
    <br />

    <h3> Craig Parsons - Web Application Developer </h3><br />
  </div>
</div>
<div class="row">
  <div class="col m12">
    <ul>
      <li>Enthusiastic about learning and adapting to new methods and technologies.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col m8">
    <b>Programming Languages and Environments</b>
    <br /> C, C++, Java, JavaScript, HTML, VBA Excel, PHP, MySQL

    <br /><br />
    <b>Information Technologies</b>
    <br />Object-Oriented Programming, Client/Server, Web based applications

    <br/><br />
    <b>Applications</b>
    <br />Visual Studio Code, Eclipse, Sublime Text

    <br /><br /><b>Platforms</b>
    <br />Windows 9x/2000/NT/XP/Vista/7/10, MSDOS, UNIX, LINUX<br />
  </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var $_Tawk_API={},$_Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/577c2baae1416e7e7c59cbf4/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</div>
{% endblock %}
