{% extends "layout.html" %} {% block content %}

<div class="row">
    <div class="col m12 s12 hide-on-large-only">
        <h3> Craig Parsons </h3>
    </div>
    <div class="col m12 s12 hide-on-large-only">
        <h4> Web Application Developer </h4>
    </div>
    <div class="col l12 hide-on-med-and-down">
        <br />
        <br />
        <h3> Craig Parsons - Web Application Developer </h3><br />
    </div>
</div>
<div class="row">
    <div class="col m12">
        <ul>
            <li>Enthusiastic about learning and adapting to new methods and technologies.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col m8">
        <b>Programming Languages and Environments</b>
        <br /> C/C++, Java, JavaScript, HTML, VBA Excel, PHP, MySQL

        <br /><br />
        <b>Information Technologies</b>
        <br />Object-Oriented Programming, Client/Server, Web based applications

        <br/><br />
        <b>Applications</b>
        <br />Eclipse, Sublime Text, Visual Studio Code

        <br /><br /><b>Platforms</b>
        <br />LINUX, Windows 9x/2000/NT/XP/Vista/7/10, MSDOS<br />
    </div>
    <script type="text/javascript">

    </script>
</div>
{% endblock %}