{% extends "layout.html" %} {% block content %}
<div class="row">
  <div id="pendulumGrid"></div>
</div>
<script src="{{ url_for('static', filename='js/pendulum/pendulum.js') }}" type="text/javascript"></script>
<div class="reference-sub-title row">
  Frameworks and tools that I've used to build <a href="https://github.com/craigpars0061/WordpressInLaravel">pendulum photography:</a>
</div>
<div class="row">
  <div id="pendulumSources"></div>
</div>
<script src="{{ url_for('static', filename='js/resources/references.js')}}" type="text/javascript"></script>
{% endblock %}
